main {
    min-height: 100vh !important;
}

.thin {
    font-weight: 300;
}

.blogcontent {
    height: 75%;
}

.dark-bg {
    background-color: rgb(39, 39, 39);
}

.white-text {
    color: white !important;
}

.black-text {
    color: rgb(39, 39, 39) !important;
}

.creepster {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;;
}

.page-buttons {
    position: fixed;
    bottom: 10% !important;;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: rgb(39, 39, 39);
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

a {
    text-decoration: none !important;
}

.post-link:hover {
    text-decoration: underline rgb(39, 39, 39) !important;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: rgb(39, 39, 39);
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e81010;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #e81010;
}

.btn-like:hover,
.btn-like:active {
    color: #e81010;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.navbar-toggle {
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
} 
